@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
  }

  body {
    @apply bg-gray-950 text-gray-50 overflow-hidden;
    /* Prevent pull-to-refresh on Android */
    overscroll-behavior-y: contain;
  }
}

.pt-safe {
  padding-top: var(--sat, 0px);
}

.pb-safe {
  padding-bottom: var(--sab, 0px);
}

.pl-safe {
  padding-left: var(--sal, 0px);
}

.pr-safe {
  padding-right: var(--sar, 0px);
}
